[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Migration note: this file corresponds to the old Param 'bannerhtml' %]

<div id="xfce-header">
  <div>
    <h1 id="xfce-header-title">Xfce Bug Tracker</h1>
    <h5 id="xfce-header-subtitle">Sub domains</h5>
    &nbsp;
    <ul>
      <li><a href="http://www.xfce.org" title="Go to the homepage">Home</a></li>
      <li><a href="http://docs.xfce.org" title="Official documentation">Docs</a></li>
      <li><a href="http://archive.xfce.org" title="Download location of tarballs">Archive</a></li>
      <li><a href="http://wiki.xfce.org" title="Community documentation">Wiki</a></li>
      <li><a href="http://forum.xfce.org" title="Community forums">Forum</a></li>
      <li><a href="https://bugzilla.xfce.org" title="Report and track bugs" class="active">Bugs</a></li>
      <li><a href="http://blog.xfce.org" title="Visit the blog">Blog</a></li>
      <li><a href="http://www.xfce.org/getinvolved/translation" title="Help translating the Xfce project">Translate</a></li>
      <li><a href="http://git.xfce.org" title="Project repositories">GIT</a></li>
    </ul>
  </div>
  <div  id="xfce-header-clear"></div>
</div>
