[%# INTERFACE:
  # This template has no interface. However, you must fulfill the interface to
  # global/useful-links.html.tmpl.
  #%]

    [% Hook.process('main-end') %]
    </div></div></div><!-- end #main -->
    </div><!-- end #bugzilla-body -->
    [% Hook.process("end") %]
  </body>
</html>
